@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Manrope font  */
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Satoshi font  */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Bold.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Black.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

/* In your global CSS file (e.g., styles/globals.css) */
.gradient-border {
  position: relative;
  background: transparent;
  border: none;
  border-radius: 12px;
  overflow: hidden;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 0.8px solid transparent;
  border-radius: 12px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgba(255, 255, 255, 0.12) 50%,
      rgba(255, 255, 255, 0.12) 100%
    )
    border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 30s linear infinite;
}

.animate-slide-right {
  animation: slide-right 30s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-scroll-logo {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  display: flex;
  white-space: nowrap;
  animation: scrollLeft 20s linear infinite;
}

.group:hover .animate-scroll-left {
  animation-play-state: paused; /* Pause animation on hover */
}
